# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Builds
build/
dist/
*.egg-info/

# Yomi Specific
downloads/
history.db
*.log
temp-test-zone/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db